body{
    padding: 0;
    margin: 0;
    color: black;
}
.container-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}
.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}